@charset "utf-8";
/* CSS Document */
/*Resolución de pantalla 1920x1080 */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


	body {
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	color: white;
	background-color: black;
	}

/* Fuentes */

		.ibm-plex-sans-regular {
		font-family: "IBM Plex Sans", sans-serif;
		font-weight: 400;
		font-style: normal;
		}

		.ibm-plex-sans-bold {
		font-family: "IBM Plex Sans", sans-serif;
		font-weight: 700;
		}

/* Barra */

.navbar ul {
	display: flex;
	list-style: none;
	background-color: black; /* no hace falta aplicarlo porque ya está tomando el color del body */
	text-align: center;
	align-items: center; /* no hace nada */
	justify-content: center;
	
	}

.navbar a {
	display: block;
	text-align: center;
	color: white;
	text-decoration: none;
	padding: 20px 170px /* 170px es un montón, hay una propiedad de flex que distribuye el espacio entre los elementos y es más eficiente */
	}

.navbar a:hover {
	background-color: magenta;
	color: black;
	}

h1 { 
	font-family: "IBM Plex Sans", sans-serif;
	font-weight: 700; /* no cambia nada */
	font-size: 70px;
	text-align: center;
	padding: 100px;
	color: white; /* ya lo estableciste en body, no repitas propiedades */

	}

h2 {
	font-family: "IBM Plex Sans", sans-serif;
	font-weight: 400;
	font-size: 20px;
	padding: 20px;
	text-align: center;	
	color: white; /* propiedad repetida */
	}

h3 { 
	font-family: "IBM Plex Sans", sans-serif;
	font-weight: 400;
	color: magenta;
}

.division-container {
	display: flex;
	justify-content: center;
	gap: 24px;
	padding: 100px;
}


.division-container img {
	border-radius: 30px;
}

.division-container p {
	padding: 40px;
	width: 40%;
}

.info-container {
  display: flex;
  align-items: center;
  justify-content: center;
}



.trabajos {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin: 70px;
	padding: 60px;
	max-width: 100%; /* el max-width solo es efectivo cuando se usan medidas fijas porque establece un límite, si lo que querés es el 100% con width solo está bien */
	
}

.trabajos h4 { 
	font-size: 2em;
}

.trabajos p {
	font-size: 1em;
	padding: 10px 0px 0px 0px;
}
.bloqueinfo {
	border: 1px solid;
	border-color: white; /* repetido  */
	border-radius: 80px;
	height: 550px; /* no se establecen anchos y altos fijos porque después se complica en la etapa de responsive, lo mejor es dar el tamaño desde padding */
	width: 600px;
	padding: 20px 0px 0px 0px;
	
}

.info-container h3 {
	display: flex; /* en este caso, flex no está haciendo nada */
	padding: 10px 0px 10px 80px;
}

.info-container li {
	display: flex;
	padding: 30px 0px 10px 80px
}

.bloquecontacto {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 190px 0px 30px 0px;
	gap: 10px;
	}

.bloquecontacto li {
	display: flex;
	flex-direction: column; /* no hace nada */
	border: 1px solid;
	border-color: magenta;
	border-radius: 80px;
	height: 20px;
	width: 250px;
	align-items: center;
	justify-content: center;
	padding: 5px; /* no hace nada */
}

.bloquecontacto li:hover {
	background-color: white;
	color: black;
	}


.bloquecontacto h5 {
	font-family: "IBM Plex Sans", sans-serif;
	font-weight: 400;
	font-size: 1em;
	}


.footerlegal{
	font-family: "IBM Plex Sans", sans-serif; 
	padding: 2px;
	color: black;
	background-color: magenta;
	text-align: center;
}
