@charset "utf-8";
/* CSS Document */
/*Resolución de pantalla 1920x1080 */

* {	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	color: white;
	background-color: black;
	}

/* Fuentes */

.ibm-plex-sans-regular {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-sans-medium {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ibm-plex-sans-semibold {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex-sans-bold {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ibm-plex-sans-regular-italic {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ibm-plex-sans-medium-italic {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ibm-plex-sans-semibold-italic {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.ibm-plex-sans-bold-italic {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

/* Barra */

.navbar a {	
	display: block;
	color: white;
	text-decoration: none;
	font-size: 1em;
	padding:  10px 50px;
	}

.navbar { 
	display: flex;
	list-style: none;
	align-content: stretch;
	justify-content: space-around;
	gap: 30px;	
}

.navbar a:hover {
	background-color: magenta;
	color: black;
	}

/* Destacados */

h1 { 
	font-family: "IBM Plex Sans", sans-serif;
	font-weight: 700;
	font-size: 6em;
	text-align: center;
	padding: 200px 25px 180px 25px;
	color: white;
}

h2 {
	font-family: "IBM Plex Sans", sans-serif;
	font-style: italic;
	font-size: 2em;
	text-align: center;	
	padding: 40px 0px;
}

h3 { 
	font-family: "IBM Plex Sans", sans-serif;
	color: magenta;
}

/* SOBRE MI */

.division-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 140px;
	gap: 40px;
}

.division-container:hover {
	background-color: magenta;
	transition-delay:0.3s;
}

.division-container h3 {
	font-size: 2em;
	color: black;
	padding: 0px 100px;
}

.division-container img {
	border-radius: 30px;
	
}

.division-container p {
	font-size: 1.4em;
	padding: 0px 50px 0px 50px;

}

/* MIS TRABAJOS */

.trabajos {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin: 70px;
	padding: 70px;
	
}

.trabajos img {
	border-radius: 40px;
}

.trabajos h4 {
	border: 1px solid;
	border-color: white;
	border-radius: 80px;
	padding: 20px;
	font-size: 2em;
}

.trabajos p {
	font-size: 1em;
	padding: 10px 0px 0px 0px;
}

/* MI EXPERIENCIA */

.info-container {
	display: flex;
	align-items: space-between;
	justify-content: center;
	padding: 70px;
}

.experiencia-container {
	border: 1px solid;
	border-color: white;
	border-radius: 80px;
	padding: 0px 50px 40px 5px;
}

.experiencia-container h4 {
	color: magenta;
	font-size: 1.5em;
	padding: 40px 0px 10px 60px;
}

.experiencia-container a {
	display: flex;
	font-size: 1em;
	padding: 10px 0px 10px 60px
}

/* CONTACTO */

.contacto-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	padding: 100px 700px;
	gap: 15px;
}

.contacto-container a {
	text-align: center;
	border: 1px solid;
	border-color: magenta;
	border-radius: 20px;
}

.contacto-container a:hover {
	background-color: white;
	color: black;
	}


.contacto-container h5 {
	font-family: "IBM Plex Sans", sans-serif;
	font-size: 2em;
	text-align: center;
	}

.contacto-container a {
	font-family: "IBM Plex Sans", sans-serif;
	font-size: 2em;
	text-decoration: none;
	color: white;	
}

/* FOOTER */

.footer-legal{
	font-family: "IBM Plex Sans", sans-serif; 
	font-weight: 600;
	color: black;
	background-color: magenta;
	text-align: center;
	padding: 2px;
}

