@charset "utf-8";
/* CSS Document */


* { 
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

body {
	background: #000000;
	color: #FFFFFF;
}

li {
	font-family: "Space Mono", monospace;
	font-size: 1em;	

}

a {
	font-family: "Space Mono", monospace;
	font-size: 1em;
	color: #FFFFFF;	
}

p {
	font-family: "IBM Plex Sans", sans-serif;
	font-weight: 400;
	font-size: 1.5em;
	color: white;
}

span {
	font-size: 1.3em;
	color: magenta;
}

.contenedor-decorativo {
	position: fixed;
	left: 605px;
	top: 605px;
}

h1 { 
	font-family: "Space Mono", monospace;
	font-size: 4em;
}

h2 {
	font-family: "IBM Plex Sans", serif;
	font-style: normal;

}

h3 {
	font-family: "Space Mono", monospace;
	color: white;
	font-size: 1.2em;
}


/*----- Nav -----*/

.navbar {
	display: flex;
	align-content: stretch;
	justify-content: space-between;
	background-color: #000000;
}


.navbar li:hover {
	background-color: magenta;
	border-radius: 10px;
	transition: 0.6s;
}

.navbar ul {
	display: flex;
	font-size: 1em;
	padding:  10px 50px;
}

.navbar a {
	font-weight: 700;
	display: flex;
	padding:  10px 50px;
}

/*----- Nav -----*/

.principal {
	width: 100%;
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	line-height: 6em;
	gap: 20px;
}

.principal h1 {
	display: flex;
	font-size: 5em;
}

.principal h2 {
	display: flex;	
	font-size: 2em;
	justify-content: center;
	border: 1px solid;
	border-radius: 50px;
	padding: 0px 40px;
}

.principal h3 {
	display: flex;	
	font-style: italic;
	justify-content: center;
	border: 1px solid;
	border-radius: 50px;
	padding: 0px 40px;

	
}

.principal h2:hover,h3:hover {
	background-color: magenta;
	color: #000000;
	border-radius: 50px;
	transition: 0.6s;
}

/*----- SOBRE MI -----*/

.contenedor-iconos {
	width: 50%;
  	height: 90vh;
	display: flex;
 	justify-content:center;
	align-items: center;
}

.sobre-mi {
	width: 40%;
	max-height: 50%;
	border-radius: 84px;
	border: 5px solid black;
	box-shadow: 12px 12px;
	background: magenta;
	position: fixed;
	right: 10%;
	bottom: 30%;	
}

.sobre-mi p {
	margin: 30px;
	padding: 15px;
	font-weight: 800;
	color: black;
	letter-spacing: -0.75px;

}

/*-----CONOCEME-----*/

.iconos img { 
	margin: 40px 12px;
}

/*----- CONTACTO -----*/ 

.formulario h2 {
	display: flex;
	justify-content: center;
	font-size: 2.3em;
	padding-top: 20px;
}

.formulario-contenedor {
	width: 100%;
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.formulario {
	display: flex;
	flex-direction: column;
	background: magenta;
	gap: 40px;
	padding: 20px 30px;
	border-radius: 84px;
	border: 5px solid black;
	box-shadow: 12px 12px;
}

.formulario span {
	color: #000000;
	font-size: 1em;
	padding: 0px 20px;
}

form {	
	display: flex;
	flex-direction: column;
	gap: 20px;
}

input {
	padding: 20px 50px;
	font-family: "IBM Plex Sans", sans-serif;
	font-size: 1em;
	border-radius: 10px;
}

label p {
	padding-bottom: 20px;
	font-weight: 800;
	display: flex;
	justify-content: center;
}

textarea {
	height: 112px;
	width: 100% ;
}

.boton-enviar {
	display: flex;
	justify-content: center;
}

/*----- GRID -----*/

.grid-items {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 1em;
	border-radius: 36px;

	
}

.trabajos {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 1em;
}

.trabajos img {
	border-radius: 36px;

}

/*----- ANIMACIONES -----*/

.grid-items img:hover {
	transform: scale(1.3);
}

.grid-items img {
	border-radius: 32px;
	transition: 0.6s;

}


/*----- TRABAJOS GALERIA -----*/


.contenedor-estructura {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 90vh;
   	justify-content:center;
 	align-items: center;
	gap: 50px;
  
}

/*----- FLECHA VOLVER  -----*/

.flecha {
	padding: 20px;
}

/*----- TEXTOS EN TRABAJOS -----*/

.contendor-descripcion {
	width: 35%;
}

.contendor-descripcion h1 {
	letter-spacing: -0.75px;
	line-height: 90%;
	margin: 20px 0px;
	}

.contendor-trabajos { 
	display: flex;
	justify-content: center;
}

.contenedor-descripcion ul li {
	border: 2px solid;
	font-weight: 800;
	border-color: white;
	border-radius: 80px;
	padding: 10px 20px;
	margin: 40px 0px;
	width: 40%;	
}


/*----- FOOTER -----*/

.footer-legal{
	font-size: 1em;
	position: fixed;
	z-index: 0;
	font-family: "IBM Plex Sans", sans-serif; 
	color: black;
	background-color: magenta;
	text-align: center;
	padding: 2px;
	bottom: 0px;
	width: 100%;
}


/*----- FUENTES -----*/

.space-mono-regular {
	font-family: "Space Mono", monospace;
	font-weight: 400;
	font-style: normal;
}

.space-mono-bold {
	font-family: "Space Mono", monospace;
	font-weight: 700;
	font-style: normal;
}

.space-mono-regular-italic {
	font-family: "Space Mono", monospace;
	font-weight: 400;
	font-style: italic;
}

.space-mono-bold-italic {
	font-family: "Space Mono", monospace;
	font-weight: 700;
	font-style: italic;
}

.ibm-plex-sans-regular {
	font-family: "IBM Plex Sans", serif;
	font-weight: 400;
	font-style: normal;
  }

  .ibm-plex-sans-bold {
	font-family: "IBM Plex Sans", serif;
	font-weight: 700;
	font-style: normal;
  }
  
  .ibm-plex-sans-regular-italic {
	font-family: "IBM Plex Sans", serif;
	font-weight: 400;
	font-style: italic;
  }

  /*----- MEDIA -----*/

@media screen and (min-width: 600px) {

    body {
        padding: 0px 10px;
}
