@charset "utf-8";
/* CSS Document */


* { margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

body {

	background-color: black;
	
}
.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

.ibm-plex-sans-regular {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-sans-medium {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ibm-plex-sans-semibold {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex-sans-bold {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* Nav */

.navbar a {
	display: block;
	font-family: "Space Mono", monospace;
	align-content: center;
	font-weight: 600;
	text-decoration: none;
	color: white;
	font-size: 1em;
	padding: 10px;
	}

.navbar {
	display: flex;
	list-style: none;
	align-content: stretch;
	justify-content: space-around;
	gap: 30px;
}

.navbar a:hover {
	
	background-color: magenta;
	color: black;
	
}

h1 { 
font-family: "Space Mono", monospace;
	font-weight: 600;
	color: white;
	font-size: 4em;
}


.container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin: 90px;
	padding: 90px;

}

.info-container {
width: 617px;
height: 555px;
border-radius: 84px;
border: 10px solid var(--Negro, #000);
background: magenta;
box-shadow: 9px 5px 10px white;
}

.info-container p {
	margin: 30px;
	padding: 15px;
	font-family: "IBM Plex Sans", sans-serif;
	font-weight: 800;
	font-size: 1.5em;
	color: black;
	letter-spacing: -0.75px;
	}

	
.iconos { 
padding: 0px 150px;
}



/* CONTACTO */ 

.formulario h2 {
font-family: "Space Mono", monospace;
color: white;
font-weight: 800;
font-size: 1.5em;

}

.formulario-contenedor {
display: flex;
justify-content: space-around;
align-items: center;
padding: 35px 0px;
}

.formulario {
display: flex;
flex-direction: column;
justify-content:space-around;
align-items: center;
gap: 30px;
padding: 20px 30px;
width: 30%;
border-radius: 84px;
border: 10px solid var(--Negro, #000);
background: magenta;
}

form {	
display: flex;
flex-direction: column;
gap: 15px;
}

input {
display: flex;
align-items: flex-start;
padding: 20px 55px;

font-family: "Space Mono", monospace;
color: black;
border-radius: 10px;
}